@import "./default-dark.css";
@import "./light-default.css";
@import "./wechat.css";
@import "./nord.css";
@import "./one-dark.css";
@import "./solarized-light.css";
@import "./catppuccin.css";
@import "./midnight.css";
@import "./ocean.css";
@import "./sakura.css";
@import "./eva-01.css";
@import "./cyberpunk.css";
@import "./frieren.css";
@import "./twilight.css";
@import "./ghibli.css";
@import "./violet.css";
@import "./miku.css";
@import "./miku-dark.css";
@import "./rdr2.css";
@import "./terraria.css";
@import "./sts-ironclad.css";
@import "./sts-silent.css";
@import "./sts-defect.css";
@import "./sts-watcher.css";
@import "./hollow-knight.css";
@import "./wukong.css";
@import "./steins-gate.css";
@import "./fate.css";
@import "./clannad.css";
@import "./wa2.css";
@import "./danganronpa.css";
